/*
	
	CSS Style
	Author: Gjorge Karakabakov
	Email: gorgekara@gmail.com

*/

body {
	font-family:Ubuntu,Verdana,Arial;
	color:#545454;
}

.cleaner {
	clear:both;
}

.loginform {
	padding:10px;
}

.loginform input {
	margin:10px;
	padding:5px;
}

/*
	Menu
*/

.menu {
}

.admin_menu_item {
	display:inline;
	margin:0 5px 0 5px;
	padding:3px;
}

/*
	Post
*/

.single_post {
	padding:10px;
	border:1px solid #DDD;
	margin:5px 0 5px 0;
}

.right_side {
	float:right;
}

.left_side {
	float:left;
}

.right_side a:link,.right_side a:visited {
	font-size:10pt;
	text-decoration:none;
	color:#545454;
}

.right_side a:hover {
	color:#0099CC;
}

.update_post {
	padding:10px;
}